#root {
  width: 100vw;

  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit-container {
  min-width: 300px;
}

.cv-output {
  min-width: 300px;
}